## Pandas

In [ ]:
# Load Pandas into Python
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

<a id="reading-files"></a>
### Reading Files, Selecting Columns, and Summarizing

In [ ]:
pwd  #print working directory, so you can traverse to where your files are.

In [ ]:
df_users = pd.read_csv('data/user.tbl', sep='|') # default value for "sep" keywork is ',' sep is how your data is separated.

**Examine the users data.**

In [ ]:
df_users                   # Prints the first 30 and last 30 rows by default.

In [ ]:
type(df_users)             # DataFrame class object

In [ ]:
df_users.head()            # Print the first five rows.

In [ ]:
df_users.head(10)          # Print the first 10 rows.

In [ ]:
df_users.tail()            # Print the last five rows.

In [ ]:
 # The row index (aka "the row labels" — in this case integers)
df_users.index

In [ ]:
# Column names (which is "an index")
df_users.columns

In [ ]:
# Datatypes of each column — each column is stored as an ndarray, which has a datatype
df_users.dtypes

In [ ]:
# Number of rows and columns
df_users.shape                                  # returns a tuple of (Rows, Columns)

In [ ]:
# All values as a NumPy array
df_users.values

In [ ]:
# Concise summary (including memory usage) — useful to quickly see if nulls exist
df_users.info()

** Select or index data.**<br>
Pandas `DataFrame`s have structural similarities with Python-style lists and dictionaries.  
In the example below, we select a column of data using the name of the column in a similar manner to how we select a dictionary value with the dictionary key.

In [ ]:
# Select a column — returns a Pandas Series (essentially an ndarray with an index)
df_users['gender']

In [ ]:
df_users[['gender']].shape

In [ ]:
# DataFrame columns are Pandas Series.
type(df_users['gender'])

In [ ]:
type(df_users[['gender']])

In [ ]:
# Select one column using the DataFrame attribute.
df_users.gender.head()

# While a useful shorthand, these attributes only exist
# if the column name has no punctuations or spaces.

**Summarize (describe) the data.**<br>
Pandas has a bunch of built-in methods to quickly summarize your data and provide you with a quick general understanding.

In [ ]:
# Describe all numeric columns (statistical type summary).
df_users.describe()

In [ ]:
# Describe all object columns (can include multiple types).
df_users.describe(include=['object'])

In [ ]:
df_obj_desc = df_users.describe(include=['object'])

In [ ]:
df_obj_desc.head()

In [ ]:
#Add a column to the object description dataframe
df_obj_desc['zip_counts'] = [len(df_obj_desc.zip_code), 19, 45, 29]

In [ ]:
df_obj_desc

In [ ]:
# Describe all columns, including non-numeric.
df_users.describe(include='all')

In [ ]:
# Describe a single column — recall that "users.gender" refers to a Series.
df_users.gender.describe()

In [ ]:
# Calculate the mean of the ages.
df_users.age.mean()

In [ ]:
# Draw a histogram of a column (the distribution of ages).
df_users.age.hist();

**Count the number of occurrences of each value.**

In [ ]:
df_users.gender.value_counts()     # Most useful for categorical variables

In [ ]:
df_users.gender.value_counts().plot(kind='bar')     # Quick plot by category

In [ ]:
# Can also be used with numeric variables
#   Try .sort_index() to sort by indices or .sort_values() to sort by counts.
df_users.age.value_counts()

In [ ]:
df_users.age.value_counts().sort_index().plot(kind='bar', figsize=(12,12));     # Bigger plot by increasing age
plt.xlabel('Age');
plt.ylabel('Number of users');
plt.title('Number of users per age');

<a id="exercise-one"></a>
### Exercise 1

In [ ]:
# Read drinks.csv into a DataFrame called "drinks".

In [ ]:
# Print the head and the tail.

In [ ]:
# Examine the default index, datatypes, and shape.

In [ ]:
# Print the beer_servings Series.

In [ ]:
# Calculate the average beer_servings for the entire data set.

In [ ]:
# Count the number of occurrences of each "continent" value and see if it looks correct.

<a id="filtering-and-sorting"></a>
### Filtering and Sorting
- **Objective:** Filter and sort data using Pandas.

We can use simple operator comparisons on columns to extract relevant or drop irrelevant information.

**Logical filtering: Only show users with age < 20.**

In [ ]:
# Create a Series of Booleans…
# In Pandas, this comparison is performed element-wise on each row of data.
mask = df_users['age'] < 20
mask

In [ ]:
# …and use that Series to filter rows.
# In Pandas, indexing a DataFrame by a Series of Booleans only selects rows that are True in the Boolean.
mask = df_users.age < 20
df_users[mask].head()

In [ ]:
df_users.head()

In [ ]:
# Or, combine into a single step.
mask = df_users.occupation == 'student'
#Use .copy() so that resulting sub df is mutable
df_student = df_users[mask].copy()
df_student.head()

In [ ]:
# Important: This creates a view of the original DataFrame, not a new DataFrame.
# If you alter this view (e.g., by storing it in a variable and altering that)
# You will alter only the slice of the DataFrame and not the actual DataFrame itself
# Here, notice that Pandas gives you a SettingWithCopyWarning to alert you of this.

# It is best practice to use .loc and .iloc instead of the syntax below

df_student['age'] = 12

In [ ]:
df_student.age.head()

In [ ]:
# Select one column from the filtered results.
#student_frame.iloc[:5, :2]
df_users.loc[8, 'age'] = 12

In [ ]:
df_users.head(10)

In [ ]:
# value_counts of resulting Series
df_users.gender.unique()

**Logical filtering with multiple conditions**

In [ ]:
# Ampersand for `AND` condition. (This is a "bitwise" `AND`.)
# Important: You MUST put parentheses around each expression because `&` has a higher precedence than `<`.
df_drinks.head()

In [ ]:
# Pipe for `OR` condition. (This is a "bitwise" `OR`.)
# Important: You MUST put parentheses around each expression because `|` has a higher precedence than `<`.
mask = (df_drinks.beer_servings > 25) & (df_drinks.continent == 'EU')
df_drinks[mask].head()

In [ ]:
mask = (df_drinks.beer_servings > 25) & (df_drinks.continent == 'EU') | (df_drinks.wine_servings > 200)
df_drinks[mask].head()

In [ ]:
# Preferred alternative to multiple `OR` conditions
#users[users.occupation.isin(['doctor', 'lawyer'])]
df_users[['age', 'gender', 'occupation']].head()

In [ ]:
alist = ['a', 'b', 'c', 10]
for entry in alist:
    if entry in df_users.age:
        print(entry)

**Sorting**

In [ ]:
# Sort a Series.
df_users.age.sort_values().head()

In [ ]:
df_users.age.head()

In [ ]:
df_users.age.sort_values().copy()

In [ ]:
df_users = pd.read_csv('data/user.tbl',sep='|')
#df_users = df_users.age.sort_values().copy()

In [ ]:
# Sort a DataFrame by a single column.
ds_age = df_users.age.copy()
# View the internal python id value of the ds_age object
id(ds_age)

In [ ]:
id(df_users.age)

In [ ]:
ds_age.sort_values().head()

In [ ]:
# Use descending order instead.
df_users.sort_values('age', ascending=False).head()

In [ ]:
df_users.sort_values('age').head()

In [ ]:
# Sort by multiple columns.
df_users.sort_values(['occupation', 'age'], ascending = [True, False]).head()

<a id="exercise-two"></a>
### Exercise 2
Use the `drinks.csv` or `drinks` `DataFrame` from earlier to complete the following.

In [ ]:
# Filter DataFrame to only include European countries.
df_drinks[df_drinks.continent == 'EU'].head()

In [ ]:
# Filter DataFrame to only include European countries with wine_servings > 300.
df_drinks[(df_drinks.continent == 'EU') & (df_drinks.wine_servings > 300)]

In [ ]:
# Calculate the average beer_servings for all of Europe.
mask = df_drinks.continent == 'EU'
df_drinks[mask]['beer_servings'].mean()

In [ ]:
# Determine which 10 countries have the highest total_litres_of_pure_alcohol.
df_big_drinkers = df_drinks.nlargest(10, 'total_litres_of_pure_alcohol')

In [ ]:
df_big_drinkers

In [ ]:
df_drinks_sub = df_drinks.sort_values('total_litres_of_pure_alcohol', ascending = False).iloc[:10]

In [ ]:
id(df_drinks)

In [ ]:
df_drinks_sub.beer_servings = 19

<a id="columns"></a>
### Renaming, Adding, and Removing Columns

- **Objective:** Manipulate `DataFrame` columns.

In [ ]:
# Print the column labels
print(df_drinks.columns)

In [ ]:
# Rename one or more columns in a single output using value mapping.
df_drinks = df_drinks.rename(columns={'beer_servings':'beer', 'wine_servings':'wine'}).copy()

In [ ]:
df_drinks.head()

In [ ]:
# Rename one or more columns in the original DataFrame.
df_drinks.rename(columns={'beer_servings':'beer', 'wine_servings':'wine'}, inplace=True)

In [ ]:
# Replace all column names using a list of matching length.
drink_cols = ['country', 'beer', 'spirit', 'wine', 'liters', 'continent'] 

# Replace during file reading (disables the header from the file).
df_drinks = pd.read_csv('data/drinks.csv')

In [ ]:
df_drinks.columns = drink_cols
df_drinks.head()

In [ ]:
# Replace after file has already been read into Python.
df_drinks.columns = drink_cols

**Easy Column Operations**<br>
Rather than having to reference indexes and create for loops to do column-wise operations, Pandas is smart and knows that when we add columns together we want to add the values in each row together.

In [ ]:
# Add a new column as a function of existing columns.
df_drinks['servings'] = df_drinks.beer + df_drinks.spirit + df_drinks.wine
df_drinks['mL'] = df_drinks.liters * 1000

df_drinks.head()

**Removing Columns**

In [ ]:
df_drinks.head(15)

In [ ]:
df_drinks = df_drinks.drop(13).copy()

In [ ]:
df_drinks.iloc[13]

In [ ]:
#In old versions of pandas, axes were indicated with 0s and 1s.  If you ever see
# axis=0 for rows, 1 for columns -> this is leftover from older versioning.
# Now, axes are indicated by "columns" or "index"

# Drop multiple columns.
df_drinks.drop(['mL', 'servings'], axis='columns').head()

In [ ]:
# Drop on the original DataFrame rather than returning a new one.
df_drinks.drop(['mL', 'servings'], axis='columns', inplace=True)

<a id="missing-values"></a>
### Handling Missing Values

- **Objective:** Know how to handle null and missing values.

Sometimes, values will be missing from the source data or as a byproduct of manipulations. It is very important to detect missing data. Missing data can:

- Make the entire row ineligible to be training data for a model.
- Hint at data-collection errors.
- Indicate improper conversion or manipulation.
- Actually not be missing — it sometimes means "zero," "false," "not applicable," or "entered an empty string."

For example, a `.csv` file might have a missing value in some data fields:

```
tool_name,material,cost
hammer,wood,8
chainsaw,,
wrench,metal,5
```

When this data is imported, "null" values will be stored in the second row (in the "material" and "cost" columns).

> In Pandas, a "null" value is either `None` or `np.NaN` (Not a Number). Many fixed-size numeric datatypes (such as integers) do not have a way of representing `np.NaN`. So, numeric columns will be promoted to floating-point datatypes that do support it. For example, when importing the `.csv` file above:

> - **For the second row:** `None` will be stored in the "material" column and `np.NaN` will be stored in the "cost" column. The entire "cost" column (stored as a single `ndarray`) must be stored as floating-point values to accommodate the `np.NaN`, even though an integer `8` is in the first row.

In [ ]:
# Missing values are usually excluded in calculations by default.
df_drinks.continent.value_counts()              # Excludes missing values in the calculation

In [ ]:
# Includes missing values
df_drinks.continent.value_counts(dropna=False)

In [ ]:
# Find missing values in a Series.
# True if missing, False if not missing
df_drinks.continent.isnull().sum()

In [ ]:
# Count the missing values — sum() works because True is 1 and False is 0.
df_drinks.continent.isnull().sum()

In [ ]:
# True if not missing, False if missing
mask = df_drinks.continent.notnull()

In [ ]:
# Only show rows where continent is not missing.
df_drinks[df_drinks.continent.notnull()].head()

**Understanding Pandas Axis**

In [ ]:
# Sums "down" the 0 axis (rows) — so, we get the sums of each column
df_drinks.sum(axis='index')

In [ ]:
# axis=0 is the default.
df_drinks.sum()

In [ ]:
# Sums "across" the 1 axis (columns) — so, we get the sums of numeric values in the row (beer+spirit+wine+liters+…)
df_drinks['wine_liters'] = df_drinks[['wine', 'liters']].sum(axis='columns')

In [ ]:
df_drinks.wine_liters.head()

**Find missing values in a `DataFrame`.**

In [ ]:
# DataFrame of Booleans
df_drinks.info()

In [ ]:
print(df_drinks.isnull().sum())

In [ ]:
df_drinks.isnull().sum().plot(kind='bar');         # visually
plt.title('Number of null values per column');

**Dropping Missing Values**

In [ ]:
# Drop a row if ANY values are missing from any column — can be dangerous!
df_drinks.dropna().head()

In [ ]:
# Drop a row only if ALL values are missing.
df_drinks.dropna(how='all').head()

**Filling Missing Values**<br>
You may have noticed that the continent North America (NA) does not appear in the `continent` column. Pandas read in the original data and saw "NA", thought it was a missing value, and converted it to a `NaN`, missing value.

In [ ]:
len(df_drinks[df_drinks.continent.notnull()])

In [ ]:
# Fill in missing values with "NA" — this is dangerous to do without manually verifying them!
df_drinks = pd.read_csv('data/drinks.csv')
df_drinks['continent'] = df_drinks.continent.fillna(value='NA').copy()
len(df_drinks[df_drinks.continent.notnull()])

In [ ]:
# Modifies "drinks" in-place
df_drinks.continent.fillna(value='NA', inplace=True)

In [ ]:
# Turn off the missing value filter — this is a better approach!
df_drinks = pd.read_csv('data/drinks.csv', header=0, names=drink_cols, na_filter=False)

In [ ]:
df_drinks.continent.value_counts()

In [ ]:
df_drinks.isnull().sum()

<a id="exercise-three"></a>
### Exercise 3

In [ ]:
# Read ufo.csv into a DataFrame called "ufo".
file_path = 'data/ufo.csv'
df_ufo = pd.read_csv(file_path)

In [ ]:
# Check the shape of the DataFrame.
df_ufo.shape

In [ ]:
# What are the three most common colors reported?
df_ufo.columns

In [ ]:
df_ufo['Colors Reported'].value_counts().sort_values(ascending=False).head(3)

In [ ]:
# Rename any columns with spaces so that they don't contain spaces.
df_ufo.columns = [col.replace(' ','') for col in df_ufo.columns]
df_ufo.columns

In [ ]:
# For reports in VA, what's the most common city?
df_ufo[df_ufo.State=='VA'].City.value_counts().sort_values(ascending=False).head(1)

In [ ]:
# Print a DataFrame containing only reports from Arlington, VA.
mask = (df_ufo.City=='Arlington') & (df_ufo.State=='VA')
df_ufo[mask].head()

In [ ]:
# Count the number of missing values in each column.
df_ufo.isnull().sum()

In [ ]:
# How many rows remain if you drop all rows with any missing values?
len(df_ufo.dropna())

<a id="split-apply-combine"></a>
### Split-Apply-Combine

Split-apply-combine is a pattern for analyzing data. Suppose we want to find mean beer consumption per country. Then:

- **Split:** We group data by continent.
- **Apply:** For each group, we apply the `mean()` function to find the average beer consumption.
- **Combine:** We now combine the continent names with the `mean()`s to produce a summary of our findings.

In [ ]:
# For each continent, calculate the mean beer servings.
df_drinks = df_drinks.rename(columns={'beer_servings':'beer'}).copy()
df_drinks.groupby('continent').beer.mean()

In [ ]:
# For each continent, calculate the mean of all numeric columns.
df_drinks.groupby('continent').mean()

In [ ]:
# For each continent, describe beer servings.
df_drinks.groupby('continent').beer.describe()

In [ ]:
# Similar, but outputs a DataFrame and can be customized — "agg" allows you to aggregate results of Series functions
df_drinks.groupby('continent').beer.agg(['count', 'mean', 'min', 'max'])

In [ ]:
df_drinks.groupby('continent').beer.agg(['count', 'mean', 'min', 'max']).sort_values('mean')

In [ ]:
# For each continent, describe all numeric columns.
df_drinks.groupby('continent').describe()

In [ ]:
# For each continent, count the number of rows.
print((df_drinks.groupby('continent').continent.count()))

In [ ]:
print((df_drinks.continent.value_counts()))   # should be the same

<a id="exercise-four"></a>
### Exercise 4

Use the "users" `DataFrame` or "users" file in the Data folder to complete the following.

In [ ]:
df_users.columns

In [ ]:
# For each occupation in "users", count the number of occurrences.
df_users.groupby('occupation').user_id.count()

In [ ]:
# For each occupation, calculate the mean age.
df_users.groupby('occupation').age.mean()

In [ ]:
# For each occupation, calculate the minimum and maximum ages.
df_users.groupby('occupation').age.agg(['min','max'])

In [ ]:
# For each combination of occupation and gender, calculate the mean age.
df_users.groupby(['occupation','gender']).age.mean()

----

<a id="multiple-columns"></a>
### Selecting Multiple Columns and Filtering Rows

In [ ]:
# Select multiple columns — yet another overload of the DataFrame indexing operator!
my_cols = ['City', 'State']     # Create a list of column names...
df_ufo[my_cols].head()          # ...and use that list to select columns.

In [ ]:
# Or, combine into a single step (this is a Python list inside of the Python index operator!).
df_ufo[['City', 'State']].head()

**Use `loc` to select columns by name.**

In [ ]:
# Select two columns.
df_ufo.loc[:, ['City', 'State']].head()

In [ ]:
# Rows 0/1/2, range of columns
df_ufo.loc[0:2, 'City':'State']

#### For more on using .loc and .iloc, see `loc_iloc_examples.ipynb`

<a id="joining-dataframes"></a>
### Joining (Merging) `DataFrames`

In [ ]:
import pandas as pd
movie_cols = ['movie_id', 'title']
movies_file_path = 'data/movies.tbl'

df_movies = pd.read_table(
    movies_file_path,
    sep='|',
    header=None,
    names=movie_cols,
    usecols=[0, 1],
    encoding='latin-1')

df_movies.head()

In [ ]:
rating_cols = ['user_id', 'movie_id', 'rating', 'timestamp']
ratings_file_path = 'data/movie_ratings.tsv'

df_ratings = pd.read_csv(ratings_file_path, sep='\t', header=None, names=rating_cols)
df_ratings.head()

In [ ]:
# Merge "movies" and "ratings" (inner join on "movie_id" by default).
df_movie_ratings = pd.merge(df_movies, df_ratings)
df_movie_ratings.head()

In [ ]:
print(df_movies.shape)
print(df_ratings.shape)
print(df_movie_ratings.shape)

<a id="other-features"></a>
### OPTIONAL: Other Commonly Used Features

In [ ]:
# Apply an arbitrary function to each value of a Pandas column, storing the result in a new column.
df_users['under30'] = df_users.age.apply(lambda age: age < 30)

In [ ]:
# Apply an arbitrary function to each row of a DataFrame, storing the result in a new column.
#  (Remember that, by default, axis=0. Since we want to go row by row, we set axis=1.)
df_users['under30male'] = df_users.apply(lambda row: row.age < 30 and row.gender == 'M', axis=1)

In [ ]:
# Map existing values to a different set of values.
df_users['is_male'] = df_users.gender.map({'F':0, 'M':1})

In [ ]:
# Replace all instances of a value in a column (must match entire value).
df_ufo.State.replace('Fl', 'FL', inplace=True)

In [ ]:
# String methods are accessed via "str".
df_ufo.State.str.upper()                               # Converts to upper case
# checks for a substring
df_ufo['Colors Reported'].str.contains('RED', na='False')

In [ ]:
# Convert a string to the datetime format (this is often slow — consider doing it in the "read_csv()" method.)
df_ufo['Time'] = pd.to_datetime(df_ufo.Time)
df_ufo.Time.dt.hour                        # Datetime format exposes convenient attributes
(df_ufo.Time.max() - df_ufo.Time.min()).days  # Also allows you to do datetime "math"

In [ ]:
# Set and then remove an index.
df_ufo.set_index('Time', inplace=True)
df_ufo.reset_index(inplace=True)

In [ ]:
# Change the datatype of a column.
df_drinks['beer'] = df_drinks.beer.astype('float')

In [ ]:
# Create dummy variables for "continent" and exclude first dummy column.
df_continent_dummies = pd.get_dummies(df_drinks.continent, prefix='cont').iloc[:, 1:]
df_continent_dummies.shape

In [ ]:
# Concatenate two DataFrames (axis=0 for rows, axis=1 for columns).
df_drinks = pd.concat([df_drinks, df_continent_dummies], axis=1)

<a id="uncommon-features"></a>
### OPTIONAL: Other Less-Used Features of Pandas

In [ ]:
# Detecting duplicate rows
df_users.duplicated()          # True if a row is identical to a previous row
df_users.duplicated().sum()    # Count of duplicates
df_users[df_users.duplicated()]   # Only show duplicates
df_users.drop_duplicates()     # Drop duplicate rows
df_users.age.duplicated()      # Check a single column for duplicates
df_users.duplicated(['age', 'gender', 'zip_code']).sum()   # Specify columns for finding duplicates

In [ ]:
# Convert a range of values into descriptive groups.
df_drinks['beer_level'] = 'low'    # Initially set all values to "low"
df_drinks.loc[df_drinks.beer.between(101, 200), 'beer_level'] = 'med'     # Change 101-200 to "med"
df_drinks.loc[df_drinks.beer.between(201, 400), 'beer_level'] = 'high'    # Change 201-400 to "high"

In [ ]:
# Display a cross-tabulation of two Series.
pd.crosstab(df_drinks.continent, df_drinks.beer_level)

In [ ]:
# Convert "beer_level" into the "category" datatype.
df_drinks['beer_level'] = pd.Categorical(df_drinks.beer_level, categories=['low', 'med', 'high'])
df_drinks.sort_values('beer_level').head()   # Sorts by the categorical ordering (low to high)

In [ ]:
# Limit which rows are read when reading in a file — useful for large files!
pd.read_csv('data/drinks.csv', nrows=10)           # Only read first 10 rows
pd.read_csv('data/drinks.csv', skiprows=[1, 2])    # Skip the first two rows of data

In [ ]:
# Write a DataFrame out to a .csv
df_drinks.to_csv('data/drinks_updated.csv')                 # Index is used as first column
df_drinks.to_csv('data/drinks_updated.csv', index=False)    # Ignore index

In [ ]:
# Create a DataFrame from a dictionary.
pd.DataFrame({'capital':['Montgomery', 'Juneau', 'Phoenix'], 'state':['AL', 'AK', 'AZ']})

In [ ]:
# Create a DataFrame from a list of lists.
pd.DataFrame([['Montgomery', 'AL'], ['Juneau', 'AK'], ['Phoenix', 'AZ']], columns=['capital', 'state'])

In [ ]:
# Randomly sample a DataFrame.
import numpy as np
mask = np.random.rand(len(df_drinks)) < 0.66   # Create a Series of Booleans
df_train = df_drinks[mask]                        # Will contain around 66% of the rows
df_test = df_drinks[~mask]                        # Will contain the remaining rows

In [ ]:
# Change Pandas default options
# Change the maximum number of rows and columns printed ('None' means unlimited).
pd.set_option('max_rows', None)     # Default is 60 rows (first and last 30)
pd.set_option('max_columns', None)  # Default is 20 columns (first and last 10)
print(df_drinks)

In [ ]:
# Reset options to defaults.
pd.reset_option('max_rows')
pd.reset_option('max_columns')

In [ ]:
# Change the options temporarily (settings are restored when you exit the "with" block).
with pd.option_context('max_rows', None, 'max_columns', None):
    print(df_drinks)
print(df_drinks)

<a id="summary"></a>
### Summary

Believe it or not, we've only barely touched the surface of everything that Pandas offers. Don't worry if you don't remember most of it — for now, just knowing what exists is key. Remember that the more you use Pandas to manipulate data, the more of these functions you will take interest in, look up, and remember.

In this notebook, the most important things to familiarize yourself with are the basics:
- Manipulating `DataFrames` and `Series`
- Filtering columns and rows
- Handling missing values
- Split-apply-combine (this one takes some practice!)